<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Cars</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>Car Make</th>
    <th>Car Model</th>
    <th>Car Door</th>
    <th>Car Transmission</th>
    <th>Car Status</th>
  </tr>
  <% if(typeof car != "undefined" && car.length > 0){ %>
    <% car.forEach(function(car){ %>
      <tr>
        <td><%= car.id %></td>
        <td><%= car.carMaker %></td>
        <td><%= car.carModel %></td>
        <td><%= car.carDoors %></td>
        <td><%= car.carTransmission %></td>
        <td><%= car.active %></td>
      </tr>
    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="8">0 records found</td>
      </tr>
  <% } %>
  
</table>


